@model Models.Framework.VaiTroChucNangPhanMem

@{
	ViewBag.Title = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
	Thêm
}

@using (Html.BeginForm("Create", "VaiTroChucNang", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>VaiTroChucNangPhanMem</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.ChucNangID, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.ChucNangID,null, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.ChucNangID, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.xem, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.xem,new List<SelectListItem>() {
					new SelectListItem(){Selected = true, Text = "Được xem", Value = "true"},
					new SelectListItem(){Selected = false, Text = "Không được xem", Value = "false"},
				}, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.xem, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.them, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.them,new List<SelectListItem>() {
					new SelectListItem(){Selected = true, Text = "Được thêm", Value = "true"},
					new SelectListItem(){Selected = false, Text = "Không được thêm", Value = "false"},
				}, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.them, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.sua, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.sua,new List<SelectListItem>() {
					new SelectListItem(){Selected = true, Text = "Được sửa", Value = "true"},
					new SelectListItem(){Selected = false, Text = "Không được sửa", Value = "false"},
				}, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.sua, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.xoa, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.xoa,new List<SelectListItem>() {
					new SelectListItem(){Selected = true, Text = "Được xóa", Value = "true"},
					new SelectListItem(){Selected = false, Text = "Không được xóa", Value = "false"},
				}, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.xoa, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.VaiTroID, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.VaiTroID,null, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.VaiTroID, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
