@model PagedList.IPagedList<Models.ViewModel.HocVuViewModel>

@using PagedList.Mvc;
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
	Danh sách học vụ
}

@using (Html.BeginForm("Index", "HocVu", FormMethod.Get))
{
	<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
			<div class="input-group">
				<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" name="searchString" value="@ViewBag.SearchString">
				<div class="input-group-append">
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-search fa-sm"></i>
					</button>
				</div>
			</div>
		</form>

		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown no-arrow mx-1">
				<div class="input-group-append">
					<a class="btn btn-primary" href="/Admin/HocVu/Create">
						Thêm
					</a>
				</div>
			</li>
		</ul>

	</nav>
}

<div class="card shadow mb-4">
	<div class="card-body">
		<div class="table-responsive">

			<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered dataTable" width="100" cellpadding="0" role="grid" style="width: 100%;">
							<thead>
								<tr>
									<th>Ngày tạo</th>
									<th>Yêu cầu thêm</th>
									<th>Ngày hẹn</th>
									<th>Danh mục</th>
									<th>Đơn vị</th>
									<th>User</th>
									<th>Vai trò</th>
									<th>Tình trạng</th>
									<th>#</th>
								</tr>
							</thead>
							
							<tbody>

								@foreach (var item in Model)
								{
								<tr id="row_@item.HocVuID" role="row" class="old">
									<td>@(item.NgayTao.HasValue ? item.NgayTao.Value.ToString("dd/MM/yyyy hh:mm tt") : "")</td>
									<td>@item.YeuCauThem</td>
									<td>@(item.NgayHen.HasValue ? item.NgayHen.Value.ToString("dd/MM/yyyy") : "")</td>
									<td>@item.TenDanhMuc</td>
									<td>@item.TenDonVi</td>
									<td>@item.UserName</td>
									<td>@item.TenVaiTro</td>
									<td>@(item.TinhTrang.GetValueOrDefault(false) ? "Hoàn thành" : "Chưa hoàn thành")</td>
									<td>
										<a href="/Admin/HocVu/Edit/@item.HocVuID">Sửa</a>
										|
										@Ajax.ActionLink("Xóa", "Delete",new { @id = item.HocVuID}, new AjaxOptions
								   {
									   Confirm = "Bạn có muốn xóa bản ghi này?",
									   OnComplete= "$('#row_" + @item.HocVuID + "').remote()",
									   HttpMethod = "Delete"

								   })
									</td>
								</tr>
								}




							</tbody>
						</table>
						@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
					</div>
				</div>
			</div>
		</div>
	</div>
</div>